.header-main {
    margin: 0;

    width: 100%;
    display: flex;
    height: min-content;
    flex-direction: row;
    border-bottom: 1px solid rgb(252, 252, 252);
}

.title_logo_navbar {
    font-size: 40px;
    cursor: pointer;
    padding-left: 20px;
}



#input_search {
    border: 1px solid rgb(255, 255, 255);
    width: 90%;
    height: 30px;
    border-radius: 100px;
    background-color: #f1f2f6;
}

.search-bar {
    width: 30%;
    display: flex;
    gap: 30px;
    align-items: center;
    margin-left: 130px;
}

.logo_snapwire_main {
    width: 50%;
    margin-left: 20px;
}



@media (max-width: 1000px) {

    .navbar-box,
    .search-bar {
        display: none;

    }

    .header-main {
        margin-bottom: 0;
    }
}