.container-posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 480px;

}

.avatar_post_owner {
    margin: 0;
    width: 40px;
    height: 40px;
}

.description_post {
    margin-left: 20px;
    width: 90%;
}

.description_post p {
    margin: 5px 1px;
}

.list_options_post {
    cursor: pointer;
}

.card_post {
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(221, 221, 221);
    border-radius: 1px;
}

.info_owner {
    text-decoration: none;
    gap: 20px;
    padding-left: 20px;
    display: flex;
    color: black;
    align-items: center;
}

.container_media_post {
    display: flex;
    width: 100%;
    max-height: 640px;
    justify-content: center;
}

.preview_media {
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
}

.image_media,
.video_media {
    max-width: 100%;
    object-fit: contain;
}


.list_options_post {
    margin-left: auto;
    margin-right: 20px;
}

.option {
    height: 50px;
    display: flex;
    gap: 10px;
    cursor: pointer;
    align-items: center;
}

.info_post_options {
    padding-left: 30px;
    display: flex;
    gap: 20px;
    min-height: min-content;
    flex-direction: row;
}

.option_saved_post {
    margin-left: auto;
    margin-right: 10px;
}

.box_info_end_posts {
    color: rgb(173, 173, 173);
    display: flex;
    align-items: center;
    height: 100px;
}


@media (max-width: 1000px) {
    .container-posts {
        width: 100%;
    }

    .card_post {
        width: 100%;
    }
}