.container-posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.avatar_post_owner {
    margin: 0;
    width: 60px;
    height: 60px;
}

.description_post {
    padding-left: 20px;
    width: 100%;
}

.list_options_post {
    cursor: pointer;
}

.card_post {
    width: 95%;
    padding-top: 20px;
    border: 1px solid rgb(232, 232, 232);
    border-radius: 5px;
}

.info_owner {
    gap: 20px;
    padding-left: 20px;
    display: flex;
    align-items: center
}

.container_media_post {
    display: flex;
    min-height: max-content;
    justify-content: center;
    border-bottom: 1px solid rgb(225, 225, 225);
    padding-bottom: 20px;
    max-height: 500px;
}

.preview_media {
    width: 600px;
    display: flex;
    gap: 10px;
    overflow-y: hidden;
    overflow-x: auto;

    padding: 5px;
}

.image_media,
.video_media {
    min-width: 350px;
    max-width: 520px;
    min-height: 400px;
    max-height: 500px;
    border-radius: 10px;
}

.image_media {
    border: 1px solid rgb(215, 215, 215);
}

.list_options_post {
    float: right;
}

.option {
    height: 60px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.info_post_options {
    padding-left: 30px;
    display: flex;
    gap: 40px;
    align-items: center;
}

@media (max-width: 1000px) {
    .card_post {
        width: 100%;
    }
}