.container_friend_list_profile {
  background-color: rgb(255, 255, 255);
  position: absolute;
  border-radius: 15px;
  left: 50%;
  top: 50%;
  width: 24%;
  transform: translate(-50%, -50%);
  animation: open_container_friendlist;
  animation-delay: 0;
  animation-duration: .1s;
  overflow-y: hidden;
}



@keyframes open_container_friendlist {
  0% {
    filter: brightness(10%);
    overflow: hidden;
  }

  50% {
    filter: brightness(30%);

    overflow: hidden;
  }

  70% {
    filter: brightness(70%);

    overflow: hidden;
  }

  100% {
    filter: brightness(100%);
  }
}



.friend-list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 310px;
  background-color: #ffffff;
}




.card_name_user {
  cursor: pointer;
}


@media (max-width: 600px) {
  .container_friend_list_profile {
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0%;
    border-radius: 0;
    height: 100vh;
  }

  .button_option_friend {
    width: 10%;
  }

  .friend-list {
    height: 100vh;
  }

}