.container-form-create-post {
    position: absolute;
    display: flex;
    left: 0;
    right: 0;
    top: 190px;
    margin: 0 auto;
    width: 40%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    align-self: self-start;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}

.icon_back_create_view {
    width: 95%;
    margin-top: 5px;
}

.container_data {
    width: 95%;
    display: flex;
    background-color: rgb(255, 255, 255);
    align-items: center;
    gap: 10px;
    justify-content: center;
    height: 100px;
}

.avatar_form_post {
    width: 40px;
    height: 40px;
    margin: 0;
    border: none;
}

.options_form_posts {
    width: 95%;
    height: 50px;
}

.container_inputs_form_posts {

    width: 80%;
    display: flex;
    gap: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.container_avatar_form_post {
    height: 80px;
}

.input_text_post {
    background-color: #f1f2f6;
    border: 1px solid rgb(255, 255, 255);
    height: 35px;
    border-radius: 20px;
    width: 100%;

}

.input_file_post {
    width: 30%;
    background-color: rgb(255, 255, 255);
    border-radius: 0;
    color: rgb(129, 129, 129);
    padding: 0px;
    height: auto;
}

.input_file_post:hover {
    background-color: rgb(255, 255, 255);
}


.input_text_post:focus,
.input_text_post:hover {
    border: 1px solid rgb(226, 226, 226);

}

.butto_send_post {
    cursor: pointer;
}





.container_images_posts {
    display: flex;
    margin: 14px 0;
    border-radius: 10px;
    border: 1px solid rgb(229, 229, 229);
    padding: 10px;
    gap: 10px;
    width: 90%;
    overflow-x: scroll;
    max-height: 400px;
}

.image_post_upload {
    border-radius: 10px;
    width: 200px;
}

@media (max-width: 1000px) {

    .container-form-create-post {

        width: 100%;

    }
}