.container_friend_list_profile {
  background-color: rgb(255, 255, 255);
  position: absolute;
  border: 1px solid rgb(241, 241, 241);
  border-radius: 6px;
  width: 35%;
  left: 0;
  right: 0;
  top: 150px;
  margin: 0 auto;
  height: 470px;
  text-align: center;
  animation: open_container_friendlist;
  animation-delay: 0;
  animation-duration: .1s;
}

@keyframes open_container_friendlist {
  0% {
    filter: brightness(10%);
    overflow: hidden;
    width: 600px;
    height: 600px;
  }

  50% {
    filter: brightness(30%);

    overflow: hidden;
  }

  70% {
    filter: brightness(70%);

    overflow: hidden;
  }

  100% {
    filter: brightness(100%);
    overflow: none;
  }
}

.container_button_option {
  width: 100%;
}

.container_button_option .button_option_friend {
  float: right;
}

.title_container {
  color: rgb(156, 156, 156);
}

.friend-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  overflow-y: auto;
  height: 410px;
  background-color: #ffffff;
}

.card_friend_friend_list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  width: 90%;
  text-decoration: none;
  padding: 6px;
  color: black;
  border-bottom: 1px solid rgb(238, 238, 238);
}

.avatar_friend_list {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  cursor: pointer;
}

.card_name_user {
  cursor: pointer;
}


@media (max-width: 600px) {
  .container_friend_list_profile {
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0%;
    height: 100vh;
  }
}