.container-main {
    background-color: #f1f2f6;
    display: flex;
    flex-wrap: wrap;
    height: 87vh;
    gap: 30px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
}

.container-error {
    position: fixed;
    min-width: min-content;
    height: 50px;
    display: flex;
    align-items: center;
    transition: .2s all;
    top: 75%;

    right: 40px;
    margin: 5% auto;
}

.box-error {
    gap: 50px;
    top: 20px;
    width: 100%;
    overflow: hidden;
    height: 50px;
    padding-left: 20px;
    margin-top: 20px;
    animation-name: deployed_box;
    animation-duration: .4s;
    display: flex;
    align-items: center;
    border-radius: 4px;
    margin-bottom: 15px;
    background: #1f5aef;
    color: rgb(255, 255, 255);
}


.container-main {
    /*Estilos estándar experimentales (Principalmente Firefox)*/
    scrollbar-color: rgba(83, 83, 83, 0.5) rgba(0, 0, 0, 0);
    scrollbar-width: thin;
}

.loader {
    margin-top: 100px;
    width: 48px;
    height: 48px;
    border: 5px solid #4e4e4e;
    background-color: #f1f2f6;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.loading {
    animation-name: loading;
    animation-duration: 5s;
}

@keyframes loading {
    0% {
        background: rgb(139, 139, 139);
    }

    25% {
        background: rgb(125, 125, 125);
    }

    50% {
        background: rgb(101, 101, 101);
    }

    65% {
        background: rgb(116, 116, 116);
    }

    100% {
        background: rgb(204, 204, 204);
    }
}


@keyframes deployed_box {
    0% {
        color: #00000000;

        width: 0;
        overflow: hidden;
    }

    50% {
        color: #00000000;
    }

    90% {
        color: #00000000;
    }

    100% {

        width: 100%;
    }
}

@media (max-width: 1260px) {
    .container-main {
        height: 86vh;
        overflow-y: hidden;
    }
}

@media (max-width: 1000px) {
    .container-main {
        height: 100vh;
        align-items: none;
        overflow-y: hidden;
    }
}