.container-main {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    height: 87vh;
    justify-content: center;
    overflow-y: auto;
}

.container-error {
    position: fixed;
    min-width: min-content;
    height: 50px;
    display: flex;
    align-items: center;
    transition: .2s all;
    top: 75%;

    right: 40px;
    margin: 5% auto;
}

.box-error {
    gap: 50px;
    top: 20px;
    width: 100%;
    overflow: hidden;
    height: 50px;
    padding-left: 20px;
    margin-top: 20px;
    animation-name: deployed_box;
    animation-duration: .4s;

    display: flex;
    align-items: center;
    border-radius: 4px;

    margin-bottom: 15px;
    background: #1f5aef;
    color: rgb(255, 255, 255);
}




@keyframes deployed_box {
    0% {
        color: #00000000;

        width: 0;
        overflow: hidden;
    }

    50% {
        color: #00000000;
    }

    90% {
        color: #00000000;
    }

    100% {

        width: 100%;
    }
}

@media (max-width: 1000px) {}