.container-main {
    background-color: #ffffff;
    display: flex;
    height: 100vh;
    position: relative;
    flex-direction: row;
    overflow-y: none;
}

.container-navBar-left {
    display: flex;
    background-color: aqua;
    width: 20%;
}

.container_filter {
    position: absolute;
    height: 100vh;
    left: 0;
    right: 0;
    top: 0;
    margin: 0 auto;
    backdrop-filter: brightness(20%);
}

.container-error {
    position: fixed;
    min-width: min-content;
    height: 50px;
    display: flex;
    align-items: center;
    transition: .2s all;
    top: 75%;
    right: 40px;
    margin: 5% auto;
}

.box-error {
    gap: 50px;
    top: 20px;
    width: 100%;
    overflow: hidden;
    height: 50px;
    padding-left: 20px;
    margin-top: 20px;
    animation-name: deployed_box;
    animation-duration: .4s;
    display: flex;
    align-items: center;
    border-radius: 4px;
    margin-bottom: 15px;
    background: #1f5aef;
    color: rgb(255, 255, 255);
}


.container-main {
    /*Estilos estándar experimentales (Principalmente Firefox)*/
    scrollbar-color: rgba(83, 83, 83, 0.5) rgba(0, 0, 0, 0);
    scrollbar-width: thin;
}

.box_laoder {
    height: 200px;
    display: flex;
    align-items: center;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #4e4e4e;
    background-color: #f1f2f600;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.avatar {
    background-color: #9e9e9e;
}

.loading {
    animation-name: loading;
    animation-duration: 5s;
}

@keyframes loading {
    0% {
        background: rgb(139, 139, 139);
    }

    25% {
        background: rgb(125, 125, 125);
    }

    50% {
        background: rgb(101, 101, 101);
    }

    65% {
        background: rgb(116, 116, 116);
    }

    100% {
        background: rgb(204, 204, 204);
    }
}


@keyframes deployed_box {
    0% {
        color: #00000000;

        width: 0;
        overflow: hidden;
    }

    50% {
        color: #00000000;
    }

    90% {
        color: #00000000;
    }

    100% {

        width: 100%;
    }
}

@keyframes open_box {
    0% {

        filter: brightness(10%);
        overflow: hidden;
        width: 600px;
        height: 600px;
    }

    50% {
        filter: brightness(30%);

        overflow: hidden;
    }

    70% {
        filter: brightness(70%);

        overflow: hidden;
    }

    100% {
        filter: brightness(100%);
        overflow: none;
    }
}



@media (max-width: 1000px) {
    .container-main {
        height: 100vh;
        gap: 40px;
    }
}

@media (max-width:600px) {
    .container-main {
        flex-direction: column;
        gap: 0;
    }

    .container-navBar-left {
        width: 100%;
    }
}