@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Satisfy&display=swap');

body {
    font-family: 'IBM Plex Sans', sans-serif;
    padding: 0;
    margin: 0;
}

#info-footer {
    width: 50%;
    margin: 0 auto;
    font-size: 13px;
    text-align: center;
    color: rgb(173, 173, 173);
}