.container-feed-main {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    overflow-y: scroll;
    overflow-x: hidden;
    min-height: 70vh;
    max-height: 80vh;

}


@media (max-width: 1254px) {
    .container-feed-main {

        max-height: 65vh;
    }

}

@media (max-width: 1000px) {
    .container-feed-main {
        width: 90%;

    }
}

@media (max-width: 990px) {
    .container-feed-main {
        width: auto;
        max-height: 85vh;
    }

}