.container-feed-main {
    width: 50%;
    border: 1px solid rgb(220, 220, 220);

    overflow-y: scroll;
    height: 710px;
}

@media (max-width: 1000px) {
    .container-feed-main {
        width: 100%;
    }
}