.container-navbar-side {

  width: 19%;
  display: flex;
  background-color: rgb(255, 255, 255);
  flex-direction: column;
  height: 85vh;
  border: 1px solid rgb(241, 241, 241);
  font-family: 'Lato', sans-serif;
}

.container_side_avatar {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.text_logout {
  color: rgb(87, 87, 87);
}

.avatar {
  width: 70px;
  height: 70px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 50%;
  border: 3px solid rgb(224, 224, 224);
  display: flex;
  align-items: center;
  margin-top: 40px;
  justify-content: center;
}



.title_username {
  margin: 0;
  color: #949494;
}

.container_alias {
  text-align: center;
  margin: 30px 0;
}



.item,
.item_list_main {
  margin: 0;
  color: #080808;
  font-size: medium;
  font-weight: 100;
  text-decoration: none;
}



.list-items-main {
  margin-top: 30px;
  display: flex;
  padding-left: 22%;
  height: 100vh;
  color: #000000;
  flex-direction: column;
}

.icon {
  color: #181818;
}

.item_list_main {
  display: flex;
  gap: 13px;
  color: #2b2b2b;
  align-items: center;
}


@media (max-width: 1035px) {
  .container-navbar-side {
    display: none;
  }
}