.container-navbar-side {
  width: 100%;
  display: flex;
  background-color: rgb(255, 255, 255);
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  font-family: 'Lato', sans-serif;
}

.container_side_avatar {
  display: flex;
  width: 70%;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: row;
}


.avatar {
  width: 40px;
  height: 40px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 50%;
  border: 3px solid rgb(224, 224, 224);
  display: flex;
  align-items: center;
  justify-content: center;
}



.title_username {
  margin: 0;
  color: #949494;
}

.container_alias {
  text-align: center;
  margin: 30px 0;
}



.item,
.item_list_main {
  margin: 0;
  color: #080808;
  cursor: pointer;
  font-size: medium;
  font-weight: 100;
  text-decoration: none;
}



.list-items-main {
  margin-top: 30px;
  display: flex;
  padding-left: 15%;
  gap: 5px;
  height: 70vh;
  color: #000000;
  flex-direction: column;
}


.item_list_main {
  display: flex;
  gap: 13px;
  color: #2b2b2b;
  align-items: center;
}

.box_icon {
  width: 12%;
}

.icon {
  color: #181818;
  transition: all .3s;
}

.icon:hover {
  width: 30px;
  height: 30px;
}

.notificacion_active_request {
  width: 34px;
}


.item_list_main p {
  width: 50%;
}

.logo_snapwire_main {
  width: 70%;
}

.container_logo_navbar {
  padding-left: 33px;
  margin: 30px 0;
}


@media (max-width: 600px) {
  .logo_snapwire_main {
    width: 40%;
  }
}