#userlikesInfo_container {
    width: 30%;
    height: 400px;
}




@media (width<600px) {
    #userlikesInfo_container {
        width: 100%;
        margin: 0;
        height: 100vh;
    }

    .user-list {
        height: 80vh;
        overflow-y: scroll;
    }
}