#container-info-likes {
    border-radius: 15px;
    width: 26%;
    height: 354px;
}

.friend-list-container {
    height: 310px;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media (width<600px) {
    #container-info-likes {
        width: 100%;
        margin: 0;
        height: 100vh;
    }

    .user-list {
        height: 80vh;
        overflow-y: scroll;
    }
}