.card_user_list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    width: 90%;
    text-decoration: none;
    padding: 6px;
    color: black;
    border-bottom: 1px solid rgb(238, 238, 238);
}

.avatar_user_list {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    cursor: pointer;
}