.container-view-friends {
    width: 13%;
    height: max-content;
    border: 1px solid rgb(238, 238, 238);
    border-radius: 5px;
}

.avatar_friend {
    width: 55px;
    margin: 0;
    height: 55px;
}

.title_navbar_side {
    color: rgb(122, 122, 122);
    width: 100%;
    text-align: center;
}

.container_friends {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    justify-content: center;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 80vh;
}

.card_friend {
    display: flex;
    width: 100px;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 1250px) {
    .container-view-friends {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        height: min-content;
    }

    .container_friends {
        width: 100%;
        flex-wrap: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;
        height: 80%;
    }

    .title_navbar_side {
        color: rgb(122, 122, 122);
        width: 100%;
        margin: 0;
        height: 30px;
    }

    .card_friend p {
        display: none;
    }
}