.container-view-friends {
    background-color: rgb(255, 255, 255);
    width: 35%;
    height: 100vh;
    outline: 1px solid rgb(238, 238, 238);
}

.avatar_friend {
    width: 50px;
    margin: 0;
    height: 50px;
    border: none;
}

.title_navbar_side {
    color: rgb(122, 122, 122);
    width: 100%;
    text-align: center;
}

.container_friends {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    justify-content: center;
    overflow-y: visible;
    overflow-x: hidden;
    max-height: 83vh;
    /*Estilos estándar experimentales (Principalmente Firefox)*/
    scrollbar-color: rgba(226, 226, 226, 0.5) rgba(0, 0, 0, 0);
    scrollbar-width: thin;
}


.card_friend {
    display: flex;
    width: 110px;
    height: 100px;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.name_friend {
    font-size: 13px;
}

@media (max-width: 600px) {
    .container-view-friends {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        height: min-content;
    }

    .container_friends {
        width: 100%;

        flex-wrap: nowrap;
        justify-content: start;
        overflow-x: scroll;
        overflow-y: hidden;
        gap: 20px;
    }

    .title_navbar_side {
        color: rgb(122, 122, 122);
        width: 100%;
        margin: 0;
        height: 30px;
    }


}